<div class="row">
    <div class="twelve columns" style="background-color:#f0f0f0;">
        <h3>Currently Registered URLs</h3>
        <% if not @url.nil? and @url.errors.any? %>
            <div id="error_explanation">
              <ul><% @url.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                    <% end %>
              </ul>
            </div>
        <% end %>
        <% if flash[:error] %>
            <p id="flash_error"><%= flash[:error] %></p>
        <% end %>
        <% if flash[:notice] %>
            <p id="flash_notice"><%= flash[:notice] %></p>
        <% end %>
        <table>
          <tr>
            <th>Course</th>
            <th>Student ID</th>
            <th>URL</th>
          </tr>
            <% @students.each do |s| %>
              <% s.urls.each do |u| %>
                <tr>
                  <td><%= s.course %></td>
                  <td><%= s.name %></td>
                  <td><a href="<%= u.url %>" title="<%= s.name %>"><%= u.url %></a></td>
                </tr>
              <% end %>
            <% end %>
        </table>
        <div style="margin:1em 0; height:10px;clear:both;"><br /></div>
        <p><%= link_to 'Enter another URL', '/',:html => {:class => 'nav'} %></p>
    </div>
</div>
