<%= form_for @student, :url => {:action => 'create'} do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited your URL from being registered:</h2>
      <ul><% @student.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p><%= f.label :Course %></p>
  <p><%= f.select :course,
                  [['Choose your course',''],['CS 132A','cs132a'],['CIS 113','cis113']],
                  :required => 'required',
                  :autofocus => 'autofocus' %></p>
  <p><%= f.label :UserID %></p>
  <p><%= f.text_field :name, :placeholder => 'Your user ID', :required => 'required' %></p>
  <p><%= f.label :URL %></p>
  <p><input type="url" id="url" name="url" placeholder="heroku url", required='required' /></p>
  <input type="submit" class="round button" value="Register" />
<% end %>
