<div class="row">
  <br />
</div>
<div style="background-color:transparent">
  <div class="row">
    <div class="twelve columns left" style="padding-top:2em;padding-bottom:2em">
      <h1 id='site-title'>Ruby Programming <small>Heroku Registry</small></h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="four columns">
    <div class="panel radius" style="background-color:#ff8">
      <h4>Link to Your App</h4>
      <p>Use this form to enter the URL for your Ruby Programming Heroku Rails Application. This form is collecting URLs from both of my Ruby courses at <a href="http://hackingthevalley.com/ccsf/ruby">City College of San Francisco</a> and
      <a href="http://hackingthevalley.com/csm/ruby">College of San Mateo.</a></p>
      <p>Enter your user ID and your Heroku app.</p>
      <p>Read the <a href="/welcome/assignment">assignment</a>.</p>
    </div>
  </div>
    <div class="eight columns" style="background-color:#f0f0f0;">
        <h3>Register your Heroku URL</h3>
        <% if flash[:error] %>
            <p id="flash_error"><%= flash[:error] %></p>
        <% end %>
        <% if flash[:notice] %>
            <p id="flash_notice"><%= flash[:notice] %></p>
        <% end %>
        <% if not @student.nil? and @student.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@student.errors.count, "error") %> prohibited your URL from being registered:</h2>
              <ul><% @student.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>
        <%= form_for @student, :url => {:action => 'create'} do |f| %>
          <p><%= f.label :Course %></p>
          <p><%= f.select :course,
                          [['Choose your course',''],['CS 132A','cs132a'],['CIS 113','cis113']],
                          :required => 'required',
                          :autofocus => 'autofocus' %></p>
          <p><%= f.label :UserID %></p>
          <p><%= f.text_field :name, :placeholder => 'Your user ID', :required => 'required' %></p>
          <p><%= f.label :URL %></p>
          <p><input type="url" id="url" name="url" placeholder="heroku url", required='required' /></p>
          <input type="submit" class="round button" value="Register" />
        <% end %>
    </div>
</div>
<div style="margin:1em 0; height:5px;clear:both;"><br /></div>
<div class="row">
    <div class="twelve columns" style="background-color:#f0f0f0;">
        <h3>Registered Links</h3>
        <table style="width:100%;background-color:#f0f0f0;">
            <tr>
                <th>Course</th>
                <th>Student ID</th>
                <th>URL</th>
            </tr>
            <% @students.each do |student| %>
                <% student.urls.each do |studentURL| %>
                    <tr>
                        <td><%= student.course %></td>
                        <td><%= student.name %></td>
                        <td><a href="<%= studentURL.url %>"><%= studentURL.url %></a></td>
                    </tr>
                <% end %>
            <% end %>
        </table>
    </div>
</div>
